body {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    border: 0;
    padding: 0;
}

#outer_container {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    /*background-color: red;*/
    /*opacity: 0.3;*/
}

#notifier_holder {
    position: absolute;
    left: 30%;
    top: 0;
    width: 550px;
    height: 100vh;
}

.notifier_screen {
    width: 100%;
    height: 477px;
    top: 10%;
    /*background-color:green;*/
    /*opacity: 0.3;*/
    position: absolute;
}

